




<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<div class="flip-container" ontouchstart="this.classList.toggle('hover');">-->
  <!--<div class="flipper">-->
    <!--<div class="front">-->
      <!--<img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/b666f811889067.562541eff3013.png" alt="Avatar" class="image">-->
    <!--</div>-->
    <!--<div class="back">-->
     <!--<a routerLink="/login"><img src="https://us.123rf.com/450wm/valentint/valentint1707/valentint170700725/82354832-enter-icon-enter-website-button-on-white-background.jpg?ver=6" alt="Avatar" class="image"></a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<body>

<header class="container">
  <section class="content">
    <h1>Smartcity</h1>

    <p class="sub-title"><strong><i>"We are giving our best to spare your time"</i></strong> <br /> </p>
    <hr>

    <!-- Some content to demonstrate viewport scrolling behavior -->
    <div id="more-content" class="blur">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/b666f811889067.562541eff3013.png"/>
      <a routerLink="/park"><button class="btn btn-success btn-lg button"><span>Enter</span></button></a>
    </div>
  </section>
</header>
<br>


</body>
