<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <img [src]="imageToShow | safeHtml"
                 alt="Place image title"
                 *ngIf="!isImageLoading" class="img-rounded img-responsive"
                 onerror='this.onerror = null; this.src="http://s3.amazonaws.com/37assets/svn/765-default-avatar.png"' />

            <!--<ng-template *ngIf="noImage()">-->
              <!--<h2>HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH</h2>-->
              <!--<img src="http://www.forextester.com/templates/pic/Testimonials/noavatar-m.jpg" alt="Fallbackimage">-->
            <!--</ng-template>-->
          </div>
          <div class="col-sm-6 col-md-8">
            <h4>
              <b>{{user?.username}}</b></h4>
            <small><cite title="Bucharest, Rou">Bucharest, Rou <i class="glyphicon glyphicon-map-marker">
            </i></cite></small>
            <p>
              <i class="glyphicon glyphicon-envelope"></i>{{user?.email}}
              <br/>
              <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">{{user?.domain}}</a>
              <br/>
              <i class="glyphicon glyphicon-gift"></i>{{user?.accountCreated |date :'short' }}</p>
            <!-- Split button -->
            <!--<div class="btn-group">-->
              <!--<button type="button" class="btn btn-primary">-->
                <!--Social-->
              <!--</button>-->
              <!--<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">-->
                <!--<span class="caret"></span><span class="sr-only">Social</span>-->
              <!--</button>-->
              <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li><a href="#">Twitter</a></li>-->
                <!--<li><a href="https://plus.google.com/+Jquery2dotnet/posts">Google +</a></li>-->
                <!--<li><a href="https://www.facebook.com/jquery2dotnet">Facebook</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a href="#">Github</a></li>-->
              <!--</ul>-->

            <!--</div>-->
            <hr>
            <h2><b>Upload photo</b></h2>
            <input type="file" id="selectFile" name="selectFile" class="btn btn-success"
                   (change)="onFileSelected($event)">
            <br>
            <button type="button" class="btn btn-success" (click)="onUpload()">Upload</button>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
